<!DOCTYPE html>
<html>

<head>
    <title>Reimagined-Meme Changelog</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>Changelog</h1>
    <p>Contains relevant information for every major build.</p>
    <hr>
    <h2>pre-A7 25/8/21</h2>
    <ul>
        <li>Added a barrel, which is a static object the player can collide with.</li>
        <li>Re-organized some serverside code.</li>
    </ul>
    <h2>pre-A6 22/8/21</h2>
    <ul>
        <li>Added site favicon.</li>
        <li>Player sprite is no longer a square cat photo.</li>
        <li>Finally fixed movement/interpolation so everything appears buttery smooth, and keyboard controls are no longer a glitchy mess.</li>
        <li>Added some proper socket protocol enforcement, meaning that invalid messages will result in the server kicking you.</li>
        <li>Added "enter" command to open/close chatbox. Typing WASD no longer makes the player move whilst typing in the chatbox.</li>
        <li>Changed the font size of chat messages, and player usernames.</li>
        <li>Switched over from homemade crap-ics to matter.js physics engine. Entities now contain a "body" parameter that contains the matter.js object.</li>
    </ul>
    <img src="/changelog/player.png">
    <h2>pre-A5 21/8/21</h2>
    <p>Maintenance. Cleaned up some cobwebs that appeared.</p>
    <h2>pre-A3</h2>
    <img src="/changelog/prea3-1.gif">
    <p>Chat bubbles now exist ingame. Whenever you send a message, a chat bubble appears above you, and remains for some time, before disappearing.</p>
    <p>Usernames are now displayed ingame below players.</p>
    <h2>pre-A2</h2>
    <p>Interpolation system now in place, should make movement look smoother, however lag still seems to be a problem.</p>
    <h2>pre-A1</h2>
    <p>Basic server + client, including input, output, keyboard + mouse movement, other players.</p>
</body>

</html>