doctype html
html
    head
        title Reimagined-Meme Changelog
        meta(charset="utf-8")
    body
        h1 Changelog
        p Contains relevant information for every major build.
        hr

        h2 pre-A1
        p Basic server + client, including input, output, keyboard + mouse movement, other players.