doctype html
html
    head
        title Reimagined-Meme Changelog
        meta(charset="utf-8")
    body
        h1 Changelog
        p Contains relevant information for every major build.
        hr

        h2 pre-A3
        img(src="../assets/changelog/prea3-1.gif")
        p Chat bubbles now exist ingame. Whenever you send a message, a chat bubble appears above you, and remains for some time, before disappearing.

        h2 pre-A2
        p Interpolation system now in place, should make movement look smoother, however lag still seems to be a problem.

        h2 pre-A1
        p Basic server + client, including input, output, keyboard + mouse movement, other players.