doctype html
html
    head
        title Reimagined-Meme
        meta(charset="utf-8")
    body
        canvas#game
        
        div#chat.chat
            div#chat-messages.chat-messages
            div#chat-input.chat-input
                input(type="text" maxlength=300)#chat-text-input.chat-text-input
        
        div#disconnected.hidden.disconnected
            div
                h2 Disconnected from Game Server
                p#disconnect-message
                hr
                button#reconnect-button Reconnect