doctype html
html
    head
        title Reimagined-Meme
        meta(charset="utf-8")
    body
        canvas#game
        div#chat.chat
        
        div#disconnected.hidden.disconnected
            div
                h2 Disconnected from Game Server
                p#disconnect-message Unknown. Try checking your network. If not, the server may have crashed.
                hr
                button#reconnect-button Reconnect