<!DOCTYPE html>
<html>

<head>
    <title>Reimagined-Meme</title>
    <meta charset="utf-8">
</head>

<body><canvas id="game"></canvas>
    <div class="play-menu hidden" id="play-menu">
        <h1>Reimagined-meme</h1>
        <p>something or other</p>
        <p>keyboard controls + mouse</p><a href="./changelog.html">Changelog</a><input type="text" placeholder="Username" id="username-input"><button id="play-button">PLAY</button>
    </div>
    <div class="chat" id="chat">
        <div class="chat-messages" id="chat-messages"></div>
        <div class="chat-input" id="chat-input"><input class="chat-text-input" type="text" maxlength="300" id="chat-text-input"></div>
    </div>
    <div class="hidden disconnected" id="disconnected">
        <div>
            <h2>Disconnected from Game Server</h2>
            <p id="disconnect-message"></p>
            <hr><button id="reconnect-button">Reconnect</button>
        </div>
    </div>
</body>

</html>